<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
    <div id = 'test'></div>
</body>
<script type="text/babel">

    //创建数据
    class Life extends React.Component{
        
        state = {opacity : 1}
        //卸载组件
        change = () => {
        ReactDOM.unmountComponentAtNode(document.getElementById('test'));
    }
    //组件挂载完毕
    componentDidMount(){
      let timer = setInterval(() => {
        //1.读取原状态
        let {opacity} = this.state;
        //2.每次减少0.1
        opacity -= 0.1;
        if(opacity <= 0) opacity = 1;
        //3.重新设置opacity
        this.setState({opacity});
       },200) 
    }

    //组件将要卸载
    componentWillUnmount(){
        clearInterval(timer);
    }

    //初始化渲染，状态更新后
        render(){
            // console.log('@');
            return(
                <div>
                    <h3 style ={{opacity:this.state.opacity}}>React</h3>
                    <button onClick={this.change}>改变</button>
                </div>
            )
        }
    }
    //渲染数据

    ReactDOM.render(<Life/>,document.getElementById('test'));
</script>
</html>